<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsRegex</title>
</head>
<body>
<input type="button" value="click me" onclick="regex()">
<script>
    function hello(){
        alert("hello world!");
    }
    function regex() {
        //第一种方式
        var re = new RegExp();//RegExp是一个对象，和Array一样，但这样没有任何效果，需要将正则表达式的内容作为字符串传递进去
        re = new RegExp("a");//最简单的正则表达式，将匹配字母a
        re = new RegExp("a","i");//第二个参数，表示匹配时不分大小写
        //第二种方式
        re = /he/;//正则表达式字面量的声明方式
        var str = "he";
        var str2 = "ha";
        alert(re.test(str));
        alert(re.test(str2));
    }
    //最简单的正则表达式,将匹配he这个单词
    var reg = /he/;
    var str = "HE";
    //匹配大写的HE将返回false;
    console.log(reg+"--test--"+str+"="+reg.test(str));//false

    /*
 * 重新定义正则表达式让其支持大小写
 * 在正则表达式中使用i的意思就是：忽略大小写。
 */
    reg = /he/i;
    str = "HE";
    console.log(reg+"--test--"+str+"="+reg.test(str));//true


    str = "Certainly!He loves her!";
    //,只要包含he(HE)就符合,如果要只是he或HE,不能有其它字符,则可使用^和$
    console.log(reg+"--test--"+str+"="+reg.test(str));//true

    reg = /^he/i;// ^ 代表字符开始位置  ,就是必须是以 he 进行开头。
    //false,因为he不在str最开始
    console.log(reg+"--test--"+str+"="+reg.test(str));

    str = "He is a good boy!";
    //true,He是字符开始位置,很明显就是HE开头的,加上i不区分大小写。
    console.log(reg+"--test--"+str+"="+reg.test(str));

    reg = /^he$/i;//$表示字符结束位置
    //false, 很明显str = "He is a good boy!";不是以 he就是结束了。
    console.log(reg+"--test--"+str+"="+reg.test(str));

    str = "He";
    //true;
    console.log(reg+"--test--"+str+"="+reg.test(str));

    //当然,这样不能发现正则表达式有多强大,因为我们完全可以在上面的例子中使用==或indexOf

    reg = /\s/;// \s匹配任何空白字符，包括空格、制表符、换页符等等
    str= "user Name";//用户名包含空格
    //true
    console.log(reg+"--test--"+str+"="+reg.test(str));

    str= "userName";//用户名包含空格
    //false
    console.log(reg+"--test--"+str+"="+reg.test(str));

    str = "user     Name";//用户名包含制表符
    //true
    console.log(reg+"--test--"+str+"="+reg.test(str));

    /*
 * 我们解释下这个正则表达式的意思：
 *
 * 首先解读：[a-z] : []匹配指定范围内的任意字符,就是a,b,c,d
 * /i ：说明我们不区分大小写：A，a,B,c都是支持的。
 * ^ : 这个是必须以什么开头，那么就是必须以英文字母开头，如果是以 1,2等数字或者别的字符开头就是不匹配的。
 *
 */
    reg=/^[a-z]/i;//[]匹配指定范围内的任意字符,这里将匹配英文字母,不区分大小写

    str="variableName";//变量名必须以字母开头
    //true
    console.log(reg+"--test--"+str+"="+reg.test(str));

    str="123abc";
    //false;
    console.log(reg+"--test--"+str+"="+reg.test(str));

//    初露锋芒之【手机号码】正则表达式
//
//    现在我们的需求是这样的，判断用户输入的手机号是否是正常的手机号码。我们期望是这样的：只有13、15、18开头的11位手机号码是合理的。
//
//       我们分析下，我们要满足几点：
//
//1>    11位数字
//    2>    1开头
//    3>    第二位置是3,5,8
//    4>    剩下的几位是随意数字。
//我们先看看1>,怎么确保输入的是11位数呢？我们会使用到{n}的表达式：
//
//{n}   n 是一个非负整数。匹配确定的 n 次。例如，'o{2}' 不能匹配 "Bob" 中的 'o'，但是能匹配 "food" 中的两个 o。
    console.log("--------------电话号码测试--------------------");
    var reg = /o{2}/;
    var str = "Bob";

    //false
    console.log(reg+"--test--"+str+"="+reg.test(str));


    var str = "food";
    //true
    console.log(reg+"--test--"+str+"="+reg.test(str));

//    那么配置11位数字的正则表达式就是,我们容易写成如下表达式：
//
//var  reg = /[0-9]{11}/;
//
//    这个确实是能匹配到11位的数字，但是12位的数字也是能匹配的，10位的当然是无法匹配，所以正确的方式就是要限定开始+结尾，正确的写法就是：
//
//var  reg = /^[0-9]{11}$/;
//
//    这个表达式只能是11位数字了，测试代码如下：

var  reg = /^[0-9]{11}$/;
    var str = "110123443211";

    //false
    console.log(reg+"--test--"+str+"="+reg.test(str));

    var str = "1101234432";
    //false
    console.log(reg+"--test--"+str+"="+reg.test(str));

    var str = "11012344321";
    console.log(reg+"--test--"+str+"="+reg.test(str));

//    接下来我们来满足第二个条件，就是1开头，这个就比较简单了，改造之后的表达式为：
//
//var  reg = /^1[0-9]{10}$/;
//
//    或者
//
//    var  reg = /^[1][0-9]{10}$/;
//
//    那么这两种方式有什么区别呢？第二种方式应该是比较好扩展，[]表示是匹配多个字符，那么我们如果期望是以1,2开始的话，那么我们这么写：
//
//var  reg = /^[12][0-9]{10}$/;
//
//    注意这里不是12,就是满足以1开头或者以2开头的数字而已。
//
//另外这里的{}中的是10，因为我们原本是11位，1占用1位，所以11-1=10就是10位了。
//
//
//
//       紧接着我们来满足第二位是3,5,8数字，这个实现，其实我们在以上的时候就提到了，就是[12]的表示方式，3,5,8就是[358]，那么我们的正则表达式就是：

var  reg = /^[1][358][0-9]{9}$/;

    str="13576898765";
    console.log(reg+"--test--"+str+"="+reg.test(str));

    str="11576898765";
    console.log(reg+"--test--"+str+"="+reg.test(str));

    //邮箱规则判断
//    现在我们的需求是这样的，判断用户输入的是否是合理的邮箱，那么邮箱的一个规则是什么呢?(当然我们这里是我们的假设，实际中请参考实际的需求或者直接在网上寻找邮箱的正则表达式)。
//
//1>    以字母数字以及-开头、不限制位数
//    2>    紧接有一个@
//3>    之后又是字母数字以及-多个以点结尾
//    4>    最后以字母数字2-4位结束。
//在这里我们会学习到的表达式符号是：
//
//[]: 匹配指定范围内的任意字符；
//
//+：+号表示字符至少要出现1次
//
//\:转义字符,由于-是特殊字符，所以我们需要使用\-进行转义。
    reg=/^([a-zA-Z0-9\-])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/
    str="1298629573@qq.com"
    console.log(reg+"--test--"+str+"="+reg.test(str));

    // \d 等价于 [0-9]
    // \D 匹配一个非数字字符 等价于[^0-9] 所以在某些场合，^还有非的意思
    // [!a-z] 负值字符范围。匹配任何不在指定范围内的任意字符。

//    我们根据 | 拆分我们正则表达式为：
//
// (13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}
//
//    这部分表示：
//
//(13[0-9]|14[57]|15[^4,[^0-9]]|17[678]|18[0-9])[0-9]{8}
//
//    也就是说：
//
//13[0-9] ： 131,132,133等
//
//    14[57] : 145 , 147
//
//    15[^4,[^0-9]]：这个很深奥，需要好好解读下，首先我们先说下不能匹配到的是154，那么怎么正确解读呢？首先是15开始这个没什么疑问, ^4意思不能出现4,^,不能有,然后就是
//
//    ^[^0-9],然后这个就是等待与[0-9]了，说白了除了4的其它数字都能满足。***
//
//剩下的就没什么难度，自己解读下就好了。
//
//这里已经是3位了，剩下的\d{8}就是任意的8位数字。
//
//
//
//170[059]\d{7}
//
//    | 之后的代码就比较简单了，就是如果是170的话，只能是
//
//    1700… ,1705… 1709….其它的就不符合。
//

</script>
</body>
</html>